@mixin petalShadowBackground($colour) {
  background: linear-gradient(135deg, darken($colour, 50%) 0%, darken($colour, 10%) 44%, $colour 100%);
}

.flower-transform {
  transform-style: preserve-3d;
}

.flower {
  // Make sure it's centered
  width: 0;

  $flowerXRotation: 75deg;

  @keyframes spin {
    from  { transform: rotateX($flowerXRotation) rotateZ(0deg); }
    to    { transform: rotateX($flowerXRotation) rotateZ(360deg); }
  }

  position: absolute;
  transform-style: preserve-3d;

  transform: rotateX($flowerXRotation);

  &.debug {
    .petals {
      background: red;
    }
  }

  animation: spin 10s linear infinite;

  .petals {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    transform-style: preserve-3d;

    .petal-transform {
      position: absolute;
      transform-origin: top left;
      transform-style: preserve-3d;

      .petal {
        position: absolute;
        width: 150px;
        height: 150px;
        transform-origin: top left;
        transform: translateZ(-40px) rotateX(15deg) rotateY(-15deg);

        &.red {
          @include petalShadowBackground(#a90329);
        }
        &.blue {
          @include petalShadowBackground(#2903a9);
        }
        &.orange {
          @include petalShadowBackground(#f97d05);
        }
        &.pink {
          @include petalShadowBackground(#d40ba2);
        }

      }

    }

  }

  .ovary {
    transform-style: preserve-3d;

    width: 100px;
    height: 100px;

    margin-left: -50px;

    border-radius: 50px;

    transform: translateZ(-26px);

    // From http://enjoycss.com/
    font: normal 1px/normal Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.0470588) 50%), linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%), linear-gradient(315deg, gold 0, gold 25%, rgba(0,0,0,0) 25%), linear-gradient(225deg, gold 0, gold 25%, rgba(0,0,0,0) 25%), linear-gradient(135deg, gold 0, gold 25%, rgba(0,0,0,0) 25%), linear-gradient(45deg, gold 0, gold 25%, rgba(0,0,0,0) 25%), gold;
    background-position: auto auto, auto auto, -50px 0, -50px 0, auto auto, auto auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 50em 50em, 50em 50em, 100em 100em, 100em 100em, 100em 100em, 100em 100em;
  }
}
