$stageSize: 1024px;

.stage-container {
  position: absolute;
  width: $stageSize;
  height: $stageSize;
  top: 50%;
  left: 50%;
  margin-left: -$stageSize/2;
  margin-top: -$stageSize/2;
  transform-style: preserve-3d;
  perspective: $stageSize;

  .stage-transform.translation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translateZ($stageSize/2);
  }

  .stage-transform.rotation {
    position: absolute;
    transform-style: preserve-3d;
  }

  #stage {
    position: relative;
    transform-style: preserve-3d;
  }

}


